<div data-th-fragment="contact">
    

<!-- Main modal -->
<div id="view_contact_modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-4xl max-h-full">
        <!-- Modal content -->
        <div style="background-color: aliceblue;" class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6">
            <!-- Modal header -->
            <div class="flex justify-between p-4 md:p-5 border-b rounded-t">
                <div class=""></div>
          <div class="p-5 flex flex-col justify-center items-center space-y-2">
            <img
  onerror="this.onerror=null; this.src='data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\'%3E%3Ccircle cx=\'12\' cy=\'8\' r=\'4\' fill=\'%23aaa\'/%3E%3Cpath d=\'M4 20c0-4 3.6-7 8-7s8 3 8 7\' fill=\'%23aaa\'/%3E%3C/svg%3E'"
  id="contact_image"
  class="w-32 h-32 rounded-full bg-gray-200"
  src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='8' r='4' fill='%23aaa'/%3E%3Cpath d='M4 20c0-4 3.6-7 8-7s8 3 8 7' fill='%23aaa'/%3E%3C/svg%3E"
  alt="contact"
/>
            <h3
              id="contact_name"
              class="text-xl font-semibold text-gray-900 dark:text-white"
            ></h3>

            <p class="text-gray-600 dark:text-gray-300" id="contact_email"></p>
            <p class="text-gray-600 dark:text-gray-300" id="contact_phone">
              889794564614
            </p>
          </div>
                <button type="button" class="text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center" onclick="closeContactModal()">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <!-- other contact info -->
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-center rtl:text-right text-gray-500">
                        <tbody>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><i class="fa-solid fa-location-dot"></i></th>
                                <td class="px-6 py-4">
                                    <span id="contact_address">caa</span>
                                </td>
                            </tr>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><i class="fa-solid fa-user w-6 h-6"></i></th>
                                <td class="px-6 py-4">
                                    <span id="contact_about">Coder</span>
                                </td>
                            </tr>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><i class="fa-solid fa-heart w-6 h-6"></i></th>
                                <td class="px-6 py-4">
                                    <span id="contact_favorite">This is my favourite contact </span>
                                </td>
                            </tr>
                                <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><i class="fa-solid fa-earth-americas w-6 h-6"></i></th>
                                <td class="px-6 py-4">
                                    <a id="contact_website">example.com</a>
                                </td>
                            </tr>
                                <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><i class="fa-brands fa-linkedin w-6 h-6"></i></th>
                                <td class="px-6 py-4">
                                    <a id="contact_linkedin">linkedin.com </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center border-t border-default space-x-4 pt-4 md:pt-5">
                
                <button onclick="closeContactModal()" type="button" class="text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Close</button>
            </div>
        </div>
    </div>
</div>

</div>
