<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{})}">
<head>
    <title>Services Page</title>
</head>
<body>
    <section id="content">
        <h1>Services offered by SCM</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi nostrum, non facere repellendus dolorum dignissimos aspernatur, in fuga iure repellat libero tenetur cumque. Atque at consectetur corrupti voluptatum odit asperiores.</p>
    </section>

    <script>
        console.log("Service p");
    </script>
</body>
</html>